<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diceval generate</title>
</head>
<body>
    <h1> <%= The Dice value is :  Math.floor(Math.random()*6) + 1 %></h1>
    <!-- we don't prefer this code in ejs code for now only generating data otherewise data come from Database  -->
</body>
</html>