<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs file </title>
</head>
<body>
    <h3> <% = 4 + 5 %> </h3> 
    <!-- output will come 9 it's output is also in html string form but inside that tag it works as dynamic -->
    <h2>Home Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum voluptatem sapiente architecto ab excepturi odio assumenda officiis nostrum sit est voluptates nemo, animi culpa, sed quibusdam ad voluptatibus ipsa praesentium nulla debitis natus ratione perferendis quidem? Provident distinctio ratione molestiae possimus voluptatibus, repudiandae culpa?</p>
    <button>next page</button>

</body>
</html>
<!-- ejs is mixed file of html js which can be render in plane js s -->