<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Images</title>
</head>
<body>
    <h2>images</h2>
    <span>imgage1</span> <br> <span>image2</span> <br> <span>image3</span>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit dicta aut nostrum numquam culpa, quas quibusdam labore iste sapiente excepturi hic, nemo maxime voluptatum totam laboriosam consequuntur necessitatibus eveniet quia iure est ea. Id ad deserunt, itaque non quibusdam animi ipsam ullam fuga voluptatem.</p>
    <button>next</button><button>previous</button>
</body>
</html>